<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
** 자료 수정 **<p/>
<form th:action="@{/update}" method="post" th:object="${member}">
	ID : [[*{id}]]
		<input type="hidden" th:field="*{id}"/><br>
	Pass : <input type="text" th:field="*{passwd}"/><br>
	Name : <input type="text" th:field="*{name}"/><br>
	<br>
	<input type="submit" value="수 정">
	<input type="button" value="이 전" onclick="history.back()">
</form>
</body>
</html>